.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-radius: 2px;
  background: #fff7f7;
  box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #fbfbfb;
}

.example-full-width {
  width: 100%;
}
