<div class="mt-10 flex flex-col items-center w-full">
  <!-- title -->
  <div class="mb-[100px] text-center border-b-2 border-b-black">
    <p class="text-5xl font-bold text-[#1e40af] font-castellar">
      Welcome to Notify Bot
    </p>
    <span class="text-3xl">Realtime chat app</span>
  </div>
  <hr />

  <!-- main content -->
  <div class="font-arial-black">
    <div class="mx-10 my-8 flex gap-3 justify-center">
      <div class="w-1/2">
        <span class="text-3xl"
          >Ứng dụng được tạo ra mới mục đích học tập và nghiên cứu. Không có ứng
          dụng trong thực tế.
        </span>
        <br /><br />

        <p>Nếu có câu hỏi hay thắc mắc xin liên hệ cho chúng tôi.</p>
      </div>

      <div class="w-1/2">
        <img
          class="w-full"
          src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=822&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
