<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/45b8489a-a7cb-4a8f-b077-e784170d2c14/resourceGroups/NotifyChat/providers/Microsoft.Web/sites/notify-chat</ResourceId>
    <ResourceGroup>NotifyChat</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://notify-chat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d6817d2f-6569-40fa-b55b-87a20664e841</ProjectGuid>
    <PublishUrl>https://notify-chat.scm.azurewebsites.net/</PublishUrl>
    <UserName>$notify-chat</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>