.input-container{
	@apply flex items-center justify-between w-full sm:w-[70%] h-[50px] rounded-full border-2 border-indigo-500 mb-3
}

.input-field{
	@apply w-[70%] mr-4 sm:w-[85%] sm:mr-3 pl-4 py-2 text-[1.2em] outline-none
}

.input-icon {
	@apply ml-2 w-7 h-7 sm:w-10 sm:h-10 sm:text-[40px] text-[30px] text-indigo-500
}

.errors-container {
	@apply mb-4 text-red-500 
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://plus.unsplash.com/premium_photo-1676618539962-a492182bdae4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=645&q=80');
  background-size: cover;
}
