<div class="h-screen flex justify-center bg-[#f0f9ff]">

  <!-- notification -->
  <div *ngIf="state && title && message; else accessDenied"
    class="flex flex-col items-center justify-start w-[350px] h-[350px] sm:w-[600px] sm:h-[400px] md:w-[800px] md:h-[600px] mt-2"


  [class.container-message]="state === 'true'"
  [class.container-message-error]="state === 'false'"
    >
    <div><img src="assets/232.png" alt="fdf" with="" /></div>
    <div class="text-center">
      <h1 class="text-[#1d4ed8]">{{title}}</h1>
			<p class="text-xl">{{message}}</p>
    </div>
  </div>

  <!-- access denied -->
  <ng-template #accessDenied>
    <div  *ngIf="state === null && title === null && message === null"
    class="container-message-error flex flex-col items-center justify-start w-[350px] h-[350px] sm:w-[600px] sm:h-[400px] md:w-[800px] md:h-[600px] mt-2"

    >
    <div><img src="assets/232.png" alt="fdf" with="" /></div>
    <div class="text-center">
      <p class="text-red-900 text-[40px]">Access denied</p>
			<p></p>
    </div>
  </div>
  </ng-template>

  

</div>
