<div>
  <div class="flex gap-2 mt-1">
    <!-- img -->
    <div class="w-1/2 flex items-start justify-center">
      <img width="500" src="/assets/about_img.jpg" alt="" />
    </div>

    <!-- content -->

    <div class="w-1/2 text-2xl">
      <!-- sơ lượt về ứng dụng -->
      <div class="mb-5">
        <p class="font-bold">Khái quát về ứng dụng</p>
        <div class="text-[0.7em]">
          <p class="font-bold text-[1.2em]">Back-end</p>
          <ul>
            <li> - <b>Asp Net Core API</b></li>
            <li>
              - Sử dụng <b>Identity</b> để quản lý người dùng, xác thực quyền truy cập.
            </li>
            <li>- <b>SignalR</b> để xây dựng chức năng chat-realtime</li>
          </ul>

          <p>Front-end</p>
          <ul>
            <li> - <b>Angular</b></li>
            <li>
              - Sử dụng <b>SignalR</b> để giao tiếp với Hub API.
            </li>
          </ul>
        </div>
      </div>
      <hr>
      
      <p>
        Nếu bạn quan tâm đến ứng dụng, hãy liên hệ cho chúng tôi để trao đổi
        trực tiếp hoặc tham khảo mã nguồn bên dưới.
      </p>

      <!-- thông tin liên hệ -->
      <div>
        <ul class="font-bodoni-mt">
          <li>
            Source Code:
            <a target="_blank" class="text-blue-600 underline italic" href="#"
              >Link</a
            >
          </li>
          <li>
            Github
            <a target="_blank" class="text-blue-600 underline italic" href="#"
              >Link</a
            >
          </li>
          <li>
            Facebook:
            <a
              target="_blank"
              class="text-blue-600 underline italic"
              href="https://www.facebook.com/vinhtin.aquarius"
              >Link</a
            >
          </li>
          <li>
            Instagram:
            <a
              target="_blank"
              class="text-blue-600 underline italic"
              href="https://www.instagram.com/lily_meoo/"
              >Link</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
